In [18]:
# Import libraries
import yfinance as yf
import pandas as pd

In [27]:
# Import data
gold_data = yf.download("GC=F", start="2023-04-01", end="2023-07-09", interval="60m")

print(gold_data.head())

[*********************100%***********************]  1 of 1 completed
                            Open         High          Low        Close  \
Datetime
2023-04-02 18:00:00  1990.000000  1992.000000  1961.900024  1979.500000
2023-04-02 19:00:00  1979.400024  1979.500000  1958.900024  1974.000000
2023-04-02 20:00:00  1974.000000  1980.900024  1960.400024  1979.199951
2023-04-02 21:00:00  1979.199951  1981.800049  1959.000000  1976.800049
2023-04-02 22:00:00  1976.800049  1977.000000  1952.000000  1968.800049

                       Adj Close  Volume
Datetime
2023-04-02 18:00:00  1979.500000    5155
2023-04-02 19:00:00  1974.000000    3477
2023-04-02 20:00:00  1979.199951    4942
2023-04-02 21:00:00  1976.800049    4458
2023-04-02 22:00:00  1968.800049    5878

In [23]:
# Define signal function

def signal_generator(df):
    open = df.Open.iloc[-1]
    close = df.Close.iloc[-1]
    prev_open = df.Open.iloc[-2]
    prev_close = df.Close.iloc[-2]

    # Bearish
    if (open > close and
        prev_open < prev_close and
        close<prev_open and
        open>=prev_close):
        return 1
    
    # Bullish
    elif (open < close and
        prev_open > prev_close and
        close>prev_open and
        open<=prev_close):
        return 2
    
    # No clear pattern
    else:
        return 0

In [28]:
signal =[]
signal.append(0)
for i in range(1,len(gold_data)):
    df = gold_data[i-1:i+1]
    signal.append(signal_generator(df))

gold_data["signal"] = signal   
gold_data.iloc[:,:]

,Open,High,Low,Close,Adj Close,Volume,signal
Datetime,,,,,,,
2023-04-02 18:00:00,1990.000000,1992.000000,1961.900024,1979.500000,1979.500000,5155,0
2023-04-02 19:00:00,1979.400024,1979.500000,1958.900024,1974.000000,1974.000000,3477,0
2023-04-02 20:00:00,1974.000000,1980.900024,1960.400024,1979.199951,1979.199951,4942,0
2023-04-02 21:00:00,1979.199951,1981.800049,1959.000000,1976.800049,1976.800049,4458,0
2023-04-02 22:00:00,1976.800049,1977.000000,1952.000000,1968.800049,1968.800049,5878,0
...,...,...,...,...,...,...,...
2023-07-07 12:00:00,1933.699951,1935.400024,1932.400024,1932.900024,1932.900024,7285,0
2023-07-07 13:00:00,1932.900024,1934.199951,1932.000000,1933.000000,1933.000000,7574,0
2023-07-07 14:00:00,1933.099976,1933.300049,1931.400024,1932.400024,1932.400024,3084,1
2023-07-07 15:00:00,1932.400024,1932.500000,1930.900024,1931.000000,1931.000000,4079,0
2023-07-07 16:00:00,1931.000000,1931.699951,1930.400024,1930.500000,1930.500000,2931,0

In [29]:
gold_data.signal.value_counts()

0    1259
2     124
1     116
Name: signal, dtype: int64